In [2]:
import pandas as pd
import os
import sqlite3
from sqlite3 import Error

In [3]:
from constants import * 
from utils import *

In [4]:
print(DB_PATH)
print(DB_FILE_NAME)

/home/database/
lead_scoring_data_cleaning.db

In [5]:
cnx = sqlite3.connect(DB_PATH + DB_FILE_NAME)
df = pd.read_sql(f"SELECT name FROM sqlite_master WHERE type='table'", cnx)
print(df.shape)
df.head()

(4, 1)

                           name
0                   loaded_data
1              city_tier_mapped
2  categorical_variables_mapped
3           interactions_mapped

In [ ]:
df = pd.read_sql('select * from interactions_mapped', cnx)
print(df.shape)
df.head()

In [ ]:
encoded_df = df[FEATURES_TO_ENCODE]
encoded_df.head()

In [ ]:
columns = df.columns.to_list()
print(columns)
print(len(columns))

In [9]:
%time
df_new_encoded = pd.get_dummies(df, columns = FEATURES_TO_ENCODE,drop_first=True)

CPU times: user 11 µs, sys: 0 ns, total: 11 µs
Wall time: 15.5 µs

In [10]:
columns = df_new_encoded.columns.to_list()
print(columns)
print(len(columns))

['index', 'created_date', 'city_tier', 'total_leads_droppped', 'referred_lead', 'assistance_interaction', 'career_interaction', 'payment_interaction', 'social_interaction', 'syllabus_interaction', 'first_platform_c_Level1', 'first_platform_c_Level2', 'first_platform_c_Level3', 'first_platform_c_Level7', 'first_platform_c_Level8', 'first_platform_c_others', 'first_utm_medium_c_Level1', 'first_utm_medium_c_Level2', 'first_utm_medium_c_Level3', 'first_utm_medium_c_Level7', 'first_utm_medium_c_Level8', 'first_utm_medium_c_others', 'first_utm_source_c_Level1', 'first_utm_source_c_Level2', 'first_utm_source_c_Level3', 'first_utm_source_c_Level7', 'first_utm_source_c_Level8', 'first_utm_source_c_others']
28

In [11]:
db_path=DB_PATH
db_file_name=DB_FILE_NAME
one_hot_encoded_features=ONE_HOT_ENCODED_FEATURES
features_to_encode=FEATURES_TO_ENCODE
model_config=MODEL_CONFIG
experiment=EXPERIMENT
tracking_uri=TRACKING_URI

In [12]:
FEATURES_TO_ENCODE

['first_platform_c', 'first_utm_medium_c', 'first_utm_source_c']

In [13]:
encode_features(DB_PATH, DB_FILE_NAME, ONE_HOT_ENCODED_FEATURES, FEATURES_TO_ENCODE)

Data has been extracted successfully from lead_scoring_model_experimentation.

KeyError: "['app_complete_flag'] not found in axis"

In [ ]:
## Verify data written to table

In [ ]:
df = pd.read_sql(f"SELECT name FROM sqlite_master WHERE type='table'", cnx)
print(df.shape)
df.head()

In [ ]:
cnx = sqlite3.connect(DB_PATH + DB_FILE_NAME)
X = pd.read_sql('select * from features', cnx)
X.head()

In [14]:
y = pd.read_sql('select * from target', cnx)
y.head()

DatabaseError: Execution failed on sql 'select * from target': no such table: target

## create sql lite connection and start database

In [19]:
# create a connection and setup a SQLite database with the name "lead_scoring_model_experimentation.db" in 
# 'Assignment/02_training_pipeline/notebook/' location
def create_sqlit_connection(DB_PATH,DB_FILE_NAME):
    """ create a database connection to a SQLite database """
    conn = None
    # opening the conncetion for creating the sqlite db
    try:
        conn = sqlite3.connect(DB_PATH + DB_FILE_NAME)
        print(sqlite3.version)
    # return an error if connection not established
    except Error as e:
        print(e)
    # closing the connection once the database is created
    finally:
        if conn:
            conn.close()

In [20]:
create_sqlit_connection("database/",r"Lead_scoring_mlflow_production.db")

2.6.0

In [24]:
#mlflow server --backend-store-uri='sqlite:////home/Assignment/02_training_pipeline/scripts/database/Lead_scoring_mlflow_production.db' --default-artifact-root="/home/Assignment/02_training_pipeline/scripts/mlruns/" --port=6006 --host=0.0.0.0

In [25]:
mlflow.set_tracking_uri("http://0.0.0.0:6006")

In [29]:
get_trained_model(DB_PATH, DB_FILE_NAME, MODEL_CONFIG, EXPERIMENT,TRACKING_URI)

/opt/conda/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
Successfully registered model 'LightGBM'.
2022/09/19 09:52:49 INFO mlflow.tracking._model_registry.client: Waiting up to 300 seconds for model version to finish creation.                     Model name: LightGBM, version 1
Created version '1' of model 'LightGBM'.

get_trained_model has been executed successfully.