In [6]:
import pandas as pd
import os
import sqlite3
from sqlite3 import Error

In [7]:
from constants import * 
from utils import *

In [8]:
print(DB_PATH)
print(DB_FILE_NAME)

/home/database/
lead_scoring_data_cleaning.db

In [9]:
cnx = sqlite3.connect(DB_PATH + DB_FILE_NAME)
df = pd.read_sql(f"SELECT name FROM sqlite_master WHERE type='table'", cnx)
print(df.shape)
df.head()

(4, 1)

                           name
0                   loaded_data
1              city_tier_mapped
2  categorical_variables_mapped
3           interactions_mapped

In [10]:
df = pd.read_sql('select * from interactions_mapped', cnx)
print(df.shape)
df.head()

(238066, 13)

,index,created_date,city_tier,first_platform_c,first_utm_medium_c,first_utm_source_c,total_leads_droppped,referred_lead,assistance_interaction,career_interaction,payment_interaction,social_interaction,syllabus_interaction
0,0,2021-07-01 00:08:15,1.0,Level0,others,Level2,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2021-07-01 00:16:43,2.0,Level3,Level0,others,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2021-07-01 00:22:20,1.0,Level3,Level0,Level0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2021-07-01 00:23:13,1.0,Level1,Level3,others,2.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2021-07-01 00:28:38,1.0,Level3,Level0,Level0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
encoded_df = df[FEATURES_TO_ENCODE]
encoded_df.head()

  first_platform_c first_utm_medium_c first_utm_source_c
0           Level0             others             Level2
1           Level3             Level0             others
2           Level3             Level0             Level0
3           Level1             Level3             others
4           Level3             Level0             Level0

In [12]:
columns = df.columns.to_list()
print(columns)
print(len(columns))

['index', 'created_date', 'city_tier', 'first_platform_c', 'first_utm_medium_c', 'first_utm_source_c', 'total_leads_droppped', 'referred_lead', 'assistance_interaction', 'career_interaction', 'payment_interaction', 'social_interaction', 'syllabus_interaction']
13

In [13]:
%time
df_new_encoded = pd.get_dummies(df, columns = FEATURES_TO_ENCODE,drop_first=True)

CPU times: user 6 µs, sys: 0 ns, total: 6 µs
Wall time: 17.2 µs

In [14]:
columns = df_new_encoded.columns.to_list()
print(columns)
print(len(columns))

['index', 'created_date', 'city_tier', 'total_leads_droppped', 'referred_lead', 'assistance_interaction', 'career_interaction', 'payment_interaction', 'social_interaction', 'syllabus_interaction', 'first_platform_c_Level1', 'first_platform_c_Level2', 'first_platform_c_Level3', 'first_platform_c_Level7', 'first_platform_c_Level8', 'first_platform_c_others', 'first_utm_medium_c_Level1', 'first_utm_medium_c_Level2', 'first_utm_medium_c_Level3', 'first_utm_medium_c_Level7', 'first_utm_medium_c_Level8', 'first_utm_medium_c_others', 'first_utm_source_c_Level1', 'first_utm_source_c_Level2', 'first_utm_source_c_Level3', 'first_utm_source_c_Level7', 'first_utm_source_c_Level8', 'first_utm_source_c_others']
28

In [15]:
db_path=DB_PATH
db_file_name=DB_FILE_NAME
one_hot_encoded_features=ONE_HOT_ENCODED_FEATURES
features_to_encode=FEATURES_TO_ENCODE
model_config=MODEL_CONFIG
experiment=EXPERIMENT
tracking_uri=TRACKING_URI

In [16]:
FEATURES_TO_ENCODE

['first_platform_c', 'first_utm_medium_c', 'first_utm_source_c']

In [17]:
encode_features(db_path, db_file_name, one_hot_encoded_features, features_to_encode)

Data has been extracted successfully from lead_scoring_model_experimentation.

KeyError: "['app_complete_flag'] not found in axis"

In [ ]:
## Verify data written to table

In [ ]:
df = pd.read_sql(f"SELECT name FROM sqlite_master WHERE type='table'", cnx)
print(df.shape)
df.head()

In [ ]:
cnx = sqlite3.connect(db_path + db_file_name)
X = pd.read_sql('select * from features', cnx)
X.head()

In [16]:
y = pd.read_sql('select * from target', cnx)
y.head()

   index  app_complete_flag
0      0                  1
1      1                  1
2      2                  1
3      3                  0
4      4                  0

## create sql lite connection and start database

In [19]:
# create a connection and setup a SQLite database with the name "lead_scoring_model_experimentation.db" in 
# 'Assignment/02_training_pipeline/notebook/' location
def create_sqlit_connection(db_path, db_file):
    """ create a database connection to a SQLite database """
    conn = None
    # opening the conncetion for creating the sqlite db
    try:
        conn = sqlite3.connect(db_path + db_file)
        print(sqlite3.version)
    # return an error if connection not established
    except Error as e:
        print(e)
    # closing the connection once the database is created
    finally:
        if conn:
            conn.close()

In [20]:
create_sqlit_connection("database/",r"Lead_scoring_mlflow_production.db")

2.6.0

In [24]:
#mlflow server --backend-store-uri='sqlite:////home/Assignment/02_training_pipeline/scripts/database/Lead_scoring_mlflow_production.db' --default-artifact-root="/home/Assignment/02_training_pipeline/scripts/mlruns/" --port=6006 --host=0.0.0.0

In [25]:
mlflow.set_tracking_uri("http://0.0.0.0:6006")

In [29]:
get_trained_model(db_path, db_file_name, model_config, experiment,tracking_uri)

/opt/conda/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
Successfully registered model 'LightGBM'.
2022/09/19 09:52:49 INFO mlflow.tracking._model_registry.client: Waiting up to 300 seconds for model version to finish creation.                     Model name: LightGBM, version 1
Created version '1' of model 'LightGBM'.

get_trained_model has been executed successfully.